@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: Nunito, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(24, 21, 62) 16%, rgb(45, 45, 176) 50%);
  background: -webkit-linear-gradient(rgb(24, 21, 62) 16%, rgb(45, 45, 176) 50%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.588);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  width: 1400px;
  min-width: 400px;
  min-height: 640px;
  padding: 30px 25px 10px 50px;
  margin: 0 auto;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

header h2 {
  color: #fff;
}

header nav ul {
  display: flex;
  gap: 60px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a,
header nav ul li i {
  color: #a8a8a8;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

header nav ul li i {
  display: none !important;
  font-size: 40px;
}

header nav li a:hover,
header nav ul li i:hover,
.current {
  color: rgb(148, 108, 218);
}

main {
  display: flex;
}

.left {
  position: relative;
  width: 700px;
  margin-right: 200px;
}

.left h1 {
  color: #fff;
}

.left p {
  color: #a8a8a8;
  margin: 40px 0 60px 0;
}

.btn-row {
  display: flex;
  gap: 20px;
}

.btn {
  font-size: 16px;
  background-color: transparent;
  color: rgb(148, 108, 218);
  border: 1px solid rgb(148, 108, 218);
  border-radius: 6px;
  flex: 1;
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: rgb(148, 108, 218);
}

.btn:active {
  opacity: 0.8;
}

.bottom nav {
  position: absolute;
  left: 50px;
  bottom: 5px;
  display: flex;
  gap: 20px;
}

.bottom nav button {
  background-color: transparent;
  color: #a8a8a8;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: color 0.25s ease-in-out;
}

.bottom nav button:hover {
  color: rgb(148, 108, 218);
}

.bottom nav button:active {
  opacity: 0.8;
}

.bottom nav button i {
  font-size: 30px;
}

.right {
  display: flex;
}

.right img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 1040px) {
  .right img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 935px) {
  main {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 737px) {
  header nav ul {
    gap: 45px;
  }
}

@media screen and (max-width: 647px) {
  header nav ul {
    gap: 35px;
  }
}

@media screen and (max-width: 620px) {
  header nav ul {
    gap: 28px;
  }
}

@media screen and (max-width: 575px) {
  header nav ul {
    gap: 25px;
  }
}

@media screen and (max-width: 565px) {
  header nav ul li i {
    display: block;
  }
}
