@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: Nunito, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(24, 21, 62) 16%, rgb(45, 45, 176) 50%);
  background: -webkit-linear-gradient(rgb(24, 21, 62) 16%, rgb(45, 45, 176) 50%);
  min-height: 100vh;
  padding: 5vh 30vh;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.588);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  padding: 40px 50px 10px 50px;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

header h2 {
  color: #fff;
}

header ul {
  display: flex;
  gap: 60px;
}

header li {
  list-style: none;
}

header li a {
  color: #a8a8a8;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

header li a:hover,
.current {
  color: rgb(127, 81, 207);
}

main {
  display: flex;
}

.left {
  width: 1000px;
  padding-right: 100px;
  position: relative;
}

.left h1 {
  color: #fff;
}

.left p {
  color: #a8a8a8;
  margin: 40px 0;
}

.btn-row {
  display: flex;
  gap: 20px;
}

.btn {
  font-size: 16px;
  background-color: transparent;
  color: rgb(127, 81, 207);
  border: 1px solid rgb(127, 81, 207);
  border-radius: 6px;
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
}

.left nav {
  position: absolute;
  bottom: 5px;
  display: flex;
  gap: 20px;
}





.right img {
  width: 60%;
}